* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img.logo {
  max-width: 55%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow: auto !important;
}
a,
button,
button:focus {
  outline: none;
}
footer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21px;
  background-color: #022646;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer span {
  font-size: 20px;
  font-weight: bold;
  color: #ffc300;
}

footer a {
  color: white;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: none;
  color: #ffc300;
}

.m_container {
  display: flex;
  width: 100%;
}

/* LEFT CSS */

.left {
  /* width: 341px; */
  width: 18%;
  background-color: #022646;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.leftSticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.leftSticky .logo {
  width: 100%;
  padding-top: 100%;
  background-image: url("../img//img_bg_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.leftSticky .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px 30px;
}
.leftSticky .social i {
  margin: 0px 2%;
  border-radius: 50%;
  color: #2c2c2c;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.leftSticky a:hover {
  text-decoration: none;
}

.leftSticky .social i:hover {
  color: white;
  background-color: #ffc300;
}
ul.navs ul,
ul.navs {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0;
  margin-top: 10% 50%;
}

ul.navs > li {
  margin-bottom: 10px;
}

ul.navs a {
  color: inherit;
  font-size: 20px;
}

ul.navs i {
  font-size: 12px;
}

ul.navs > li a:hover,
ul.navs > li a:focus {
  color: #ffc300;
  text-decoration: none;
  border-bottom-color: #ffc300;
  border-bottom: 1px solid;
}

.activeUl {
  color: #ffc300 !important;
  text-decoration: none !important;
  border: none !important;
}

.childActive {
  color: white !important;
  border: none !important;
}

ul.navs li > ul a:hover,
ul.navs li > ul a:focus {
  color: white;
  border: none;
}

ul.navs .multi:focus-within a {
  border: none;
}
ul.show,
ul.navs .multi:focus-within ul {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #ffc300;
  border-bottom: 1px solid #ffc300;
}

/* RIGHT CSS */

.right {
  width: 82%;
  position: relative;
  padding-bottom: 200px;
}

.h1--style {
  font-size: 4rem;
  font-weight: 600;
}

.caption--style {
  color: #9c9a9a;
}

.p--style {
  /* font-weight: 600;
  font-size: 1.5rem;
  color: #5c2618; */
  font-weight: 600;
  font-size: 24px;
  color: rgb(92, 38, 24);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  min-width: 100%;
}

.editImg {
  text-align: center;
}

.text-left {
  margin-bottom: 50px;
}

.sectionTitle {
  padding-bottom: 5px;
}

.header-title {
  padding: 5rem 0.8rem 0 0.8rem;
}
.header-title ul {
  list-style: none;
}
.header-title ul li {
  display: inline;
  padding-right: 1rem;
}
.header-title ul li a {
  position: relative;
  color: black;
}
.header-title ul li a:before {
  content: ">";
  position: absolute;
  right: -12px;
}
.header-title ul li a.active {
  color: #b9b8b8;
}

#blog-detail {
  margin-top: 4em;
}
#blog-detail .text .button-group {
  padding: 3rem 0;
  border-bottom: 1px solid #e1dede;
}
#blog-detail .text .button-group .btn-blog--style {
  background: white;
  border: 1px solid #e1dede;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
#blog-detail .text .button-group .share-icon {
  text-align: right;
}
#blog-detail .text .button-group .share-icon ul {
  list-style: none;
}
#blog-detail .text .button-group .share-icon ul li {
  display: inline;
  padding-left: 0.5rem;
}
#blog-detail .text .button-group .share-icon ul li a {
  color: black;
}
#blog-detail .text .button-group .share-icon ul li:nth-child(1) {
  font-weight: 600;
}
#blog-detail .text .relatest-blog__content {
  padding-top: 2rem;
}

#latest-blog {
  position: relative;
}
#latest-blog .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 47%;
  z-index: -1;
}
#latest-blog .intersted .contact {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#latest-blog .intersted .contact .phone {
  color: blue;
  font-weight: 600;
  font-size: 1.2rem;
}
#latest-blog .subcribe .subcribe-content {
  padding: 2rem 0;
}
#latest-blog .subcribe .inp-email--style {
  border-radius: 20px 0 0 20px;
  background: #fdf7e0;
  border: solid 1px #c49635;
}
#latest-blog .subcribe .inp-sub--style span {
  background: #5c2618;
  color: white;
  border-radius: 0 20px 20px 0;
  border: solid 1px #c49635;
}
#latest-blog .latest-blog__content {
  padding: 2rem 0;
}
#latest-blog .latest-blog__content .blog__item {
  background: white;
  box-shadow: 0 0 10px #9c9a9a;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
}
#latest-blog .latest-blog__content .blog__item .readmore {
  color: black;
  font-weight: 600;
}
#latest-blog .latest-blog__content .blog__item .readmore span i {
  color: #c49635;
}

.editPadding {
  padding: 0px 52px;
}
.latestPost {
  padding: 0px !important;
  height: 700px;
  padding: 20px;
}

.latestPost .container .item {
  margin: 10px;
}

/* @media only screen and (max-width: 576px) {
  .navbar-collapse {
    background-color: white;
  }

  #biz-greater .biz-greater__img {
    margin: 20px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background-color: white;
  }

  #biz-greater .biz-greater__img {
    margin: 20px 0px;
  }
} */

/*# sourceMappingURL=style.css.map */
@media screen and (max-width: 1024px) {
  .latestPost .container .item {
    width: 90% !important;
  }
  .latestPost .container {
    justify-content: center !important;
  }
}

@media screen and (max-width: 768px) {
  .h1--style {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 425px) {
  .text-left {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .latestPost {
    padding: 0 25px !important;
  }

  .editPadding {
    padding: 25px !important;
  }
}

@media screen and (max-width: 320px) {
  .latestPost {
    padding: 0 10px !important;
  }
}
