* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-y: auto !important;
}

.right {
  overflow-x: hidden;
  position: relative;
}

.km_page_cstuyendung .banner .wrapper {
  position: relative;
  width: 100%;
  height: 40vh;
  background: linear-gradient(to right, lightblue, lightcoral) no-repeat center
    center;
  background-size: cover;
}
.km_page_cstuyendung .banner .wrapper .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  letter-spacing: 5px;
}

.km_page_cstuyendung .banner .wrapper .title h1 {
  text-align: center;
}

.km_page_cstuyendung .banner .wrapper .tabs {
  position: absolute;
  right: 0;
  bottom: 0;
  word-spacing: -3px;
  background: white;
}
.km_page_cstuyendung .banner .wrapper .tabs .tab-child {
  display: inline-block;
  background: #ffc300;
  word-spacing: 1;
  cursor: pointer;
}
.km_page_cstuyendung .banner .wrapper .tabs .tab-child a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: inline-block;
}

.km_page_cstuyendung .banner .wrapper .tabs .not-active:hover {
  opacity: 1;
}

.km_page_cstuyendung .banner .wrapper .tabs .not-active {
  opacity: 0.6;
}
.km_page_cstuyendung .banner .wrapper .tabs .is-active {
  font-weight: 700;
}
.km_page_cstuyendung .list-chinhsach {
  padding: 20px 30px;
}
.km_page_cstuyendung .list-chinhsach p {
  line-height: 2;
  text-align: justify;
}
.km_page_cstuyendung .list-chinhsach .chinhsach {
  padding-bottom: 50px;
}
.km_page_cstuyendung .list-chinhsach .chinhsach .title-cs {
  padding-bottom: 5px;
  margin-bottom: 50px;
}
.km_page_cstuyendung .list-chinhsach .chinhsach .title-cs span {
  border-bottom: 5px solid #ffc300;
}
.km_page_cstuyendung .list-chinhsach .chinhsach .educate {
  margin-bottom: 20px;
}
.km_page_cstuyendung .list-chinhsach .chinhsach .educate h3 {
  letter-spacing: 5px;
}
.km_page_cstuyendung .list-chinhsach .chinhsach .educate h3 span {
  letter-spacing: 0;
  color: #bbbbbb;
  font-weight: normal;
}
.km_page_cstuyendung .list-chinhsach .chinhsach .educate .educate-detail {
  max-width: 90%;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .p_edit {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 425px) {
  .sectionTitle {
    font-size: 25px;
  }

  .km_page_cstuyendung .list-chinhsach {
    padding: 20px 25px 150px;
  }
  .km_page_cstuyendung .list-chinhsach .chinhsach .title-cs {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .km_page_cstuyendung .list-chinhsach .chinhsach .title-cs {
    font-size: 23px;
  }
}
