* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #022646;
}

#btnSidebar {
  display: none;
}

body {
  margin: 0;
  overflow: hidden;
}
a,
button,
button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
}
footer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21px;
  background-color: #022646;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer span {
  font-size: 20px;
  font-weight: bold;
  color: #ffc300;
}

footer a {
  color: white;
  margin: 0 5px;
}
.activeFooter,
footer a:hover {
  text-decoration: none;
  color: #ffc300;
}

footer > div {
  display: flex !important;
  justify-content: space-between;
}
footer > div > div {
  display: flex;
}

.m_container {
  display: flex;
  width: 100%;
}

/* LEFT CSS */

.left {
  min-width: 18%;
  background-color: #022646;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.leftSticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.leftSticky .logo {
  width: 100%;
  padding-top: 100%;
  background-image: url("../img/logo-big.jpg");
  background-position: center;
  background-size: 167% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.leftSticky .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px 30px;
}
.leftSticky .social i {
  margin: 0px 2%;
  border-radius: 50%;
  color: #2c2c2c;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.leftSticky a:hover {
  text-decoration: none;
}

.leftSticky .social i:hover {
  color: white;
  background-color: #ffc300;
}
ul.navs ul,
ul.navs {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0;
  margin-top: 10% 50%;
}

ul.navs ul > li {
  margin: 2px 0px;
}

ul.navs > li {
  margin-bottom: 10px;
}

ul.navs a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

ul.navs i {
  font-size: 12px;
  color: inherit;
}

ul.navs > li a:hover,
ul.navs > li a:focus {
  color: #ffc300;
  text-decoration: none;
  border-bottom-color: #ffc300;
  border-bottom: 1px solid;
}

.activeUl {
  color: #ffc300 !important;
  text-decoration: none !important;
  border: none !important;
}

.childActive {
  color: white !important;
  border: none !important;
}

ul.navs li > ul a:hover,
ul.navs li > ul a:focus {
  color: white;
  border: none;
}

ul.navs .multi:focus-within a {
  border: none;
}
ul.show,
ul.navs .multi:focus-within ul {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #ffc300;
  border-bottom: 1px solid #ffc300;
}

/* RIGHT CSS */

.right {
  width: 82%;
}

.sp.right > section {
  height: 100vh;
  position: relative;
}

.first > div {
  position: relative;
}

.first .background {
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s all;
  background-position: center;
  height: inherit;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  overflow-x: hidden;
}

.first .activeBackground {
  opacity: 1;
}

.first .bannerContent {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffc300;
  padding: 1.5% 2.44%;
  max-width: 40%;
}

.sectionTitle {
  font-size: 35px;
}

.first .bannerContent button {
  border: none;
  padding: 3% 7%;
  background-color: #ffffff;
  margin-top: 7%;
}

.underline {
  position: relative;
}
.underline::after {
  content: "";
  width: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #ffc300;
}

.activity {
  padding: 0px 52px;
}

.activity .sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.activity .slider {
  height: 80%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.activity .slider .itemSlide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.activity .slider .itemSlide:first-child {
  grid-row: 1/4 span;
  background-image: url("../img/img_bg_2.jpg");
  position: relative;
}

.activity .slider .itemSlide:nth-child(2) {
  background-image: url("../img/windmill.PNG");
}

.activity .slider .itemSlide:nth-child(3) {
  background-image: url("../img/education.jpg");
}

.activity .slider .itemSlide:nth-child(4) {
  background-image: url("../img/12312.jpg");
}

.activity .slider .itemSlide:nth-child(5) {
  background-image: url("../img/12341.jpg");
}

.activity .slider .itemSlide:first-child .bannerContent {
  width: 49%;
  position: absolute;
  bottom: 26px;
  left: 5%;
  bottom: 5%;
  background-color: #ffc300;
  padding: 2% 3.73%;
  min-width: 400px;
}

.activity button {
  border: none;
  padding: 2% 8%;
  background-color: #ffffff;
  margin-top: 5%;
}
.activity .itemSlide:nth-child(n + 1) {
  position: relative;
}
.activity .itemSlide:nth-child(n + 1) > button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.achievement {
  padding: 0px 52px;
  position: relative;
}

.achievement .sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.achievement .bigContainer {
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.achievement .buiding {
  width: 100%;
  height: 44.8%;
  display: flex;
  justify-content: space-evenly;
}

.achievement .buildItem {
  background-color: #ffc300;
  width: 22%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.achievement .buildItem:nth-child(1) {
  background-image: url(../img/nha1.jpg);
}

.achievement .buildItem:nth-child(2) {
  background-image: url(../img/12312.jpg);
}

.achievement .buildItem:nth-child(3) {
  background-image: url(../img/nha4.jpg);
}

.achievement .buildItem:nth-child(4) {
  background-image: url(../img/school1.jpg);
}

.achievement button {
  border: none;
  padding: 2% 8%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
}
.achievement .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

#carouselExampleControls {
  width: 100%;
}

.achievement .avatar {
  height: 235px;
  min-width: 235px;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px 15px;
}

.achievement .carousel-item:nth-child(1) .avatar {
  background-image: url("../img/TZXgJ9Xp_400x400.jpg");
}

.achievement .carousel-item:nth-child(2) .avatar {
  background-image: url("../img/captain-america_360.jpg");
}

.achievement .carousel-item:nth-child(3) .avatar {
  background-image: url("../img/avatarThor.jpg");
}

.achievement .description {
  margin: 0px 10px 0px 25px;
}

.achievement .carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

.achievement .name {
  font-size: 25px;
}

.achievement .job {
  font-size: 18px;
  opacity: 0.4;
  margin-left: 5px;
}

.achievement .job::before {
  content: " - ";
}

.achievement p {
  text-align: justify;
}

.achievement .carousel-control-prev-icon,
.achievement .carousel-control-next-icon {
  background-image: none !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 100px;
  position: absolute;
  top: 33%;
}

.achievement .groupStar > i {
  color: #ffc300;
}

.achievement .fp-tableCell {
  height: auto !important;
}

.latestPost {
  position: relative;
  padding: 0px 52px;
  overflow: hidden;
}

.latestPost .sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.latestPost .container {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  padding: 0px;
}

.latestPost .container .item {
  width: 45.06%;
  border: 1px solid white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);
  display: flex;
  height: 15vw;
}

.latestPost .img {
  background-image: url("../img/img_bg_3.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width: 15vw;
  height: 15vw;
}

.latestPost .post {
  flex-grow: 1;
  padding: 3% 5%;
}

.latestPost .post .date {
  font-weight: 600;
  color: rgb(156, 154, 154);
  font-size: 16px;
}
.latestPost .post .date .numberDay {
  font-weight: 600;
  font-size: 24px;
  color: rgb(92, 38, 24);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.latestPost .post .title {
  font-size: 20px;
  margin: 1px 0px;
}

.latestPost .post .content {
  color: rgb(156, 154, 154);
  font-size: 15px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.latestPost .post button {
  border: none;
  background: #ffc300;
  padding: 4% 8%;
  margin-top: 13px;
  width: unset;
}

.expertTeam {
  position: relative;
  padding: 0px 52px;
}

.expertTeam .sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.expertTeam .container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
  padding: 0px;
  margin: 0;
}

.expertTeam .carouselOwl {
  width: 95%;
  margin: 0 auto;
}

.expertTeam .cart {
  width: 15vw;
  text-align: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.16);
  padding-bottom: 2%;
  overflow: hidden;
  margin: 0 auto;
}

.expertTeam .avatar {
  margin-top: 0 !important;
  height: 15vw;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.expertTeam .name {
  font-size: 25px;
}

.expertTeam .job {
  font-size: 18px;
  opacity: 0.4;
}
.expertTeam .job::after,
.expertTeam .job::before {
  content: " - ";
  font-size: 18px;
  opacity: 0.5;
}

.expertTeam .description,
.expertTeam .content {
  font-size: 18px;
}

.expertTeam .description::before {
  content: '"';
}

.expertTeam .description {
  overflow: hidden;
  padding: 0px 25px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expertTeam .owl-nav button > span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.expertTeam .bigDescription {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.expertTeam .bigDescription > .fa-quote-right {
  color: #ffc300;
  font-size: 30px;
}

.expertTeam .bigDescription .m_rotate {
  transform: rotateY(180deg);
}

.expertTeam .bigDescription .content {
  margin: 0 10px;
  text-align: justify;
  overflow: hidden;
}

.expertTeam .owl-nav {
  margin-top: 0px;
  position: absolute;
  top: 45%;
  width: 109%;
  display: flex;
  justify-content: space-between;
  transform: translate(-4%, -50%);
  z-index: -10;
}
.expertTeam .owl-nav .owl-prev {
  left: -5%;
}

.expertTeam button:hover {
  box-shadow: none;
}

.expertTeam .owl-nav button > span {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.2);
}

.expertTeam .owl-nav button:hover > span {
  color: rgba(0, 0, 0, 0.4);
}

.expertTeam .owl-nav .owl-next,
.expertTeam .owl-nav .owl-prev {
  background-color: initial !important;
}

.expertTeam .owl-stage-outer {
  padding: 10px 5px;
}

.contact {
  position: relative;
  padding: 0px 52px;
}

.contact .sectionTitle {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.contact .container {
  min-width: 100%;
  display: flex;
  height: 85%;
  justify-content: space-between;
  padding: 0 !important;
}

.contact aside {
  width: 45%;
}

.contact i {
  color: #ffc300;
  min-height: 100px;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-right: 30px;
}

.contact aside:first-child > div {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact input,
.contact textarea {
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  outline: none;
  padding: 2% 5%;
}

.contact button {
  border: none;
  background: #ffc300;
  width: 160px;
  display: inline-block;
  padding: 15px 0px;
  color: white;
}
@media screen and (max-width: 1830px) {
  .latestPost .post .content {
    -webkit-line-clamp: 3;
  }
}
@media screen and (max-width: 1630px) {
  .latestPost .container .item {
    width: 500px;
  }

  .latestPost .post .date {
    font-size: 16px;
  }
  .latestPost .post .date .numberDay {
    font-size: 20px;
  }

  .latestPost .post .title {
    font-size: 15px;
  }

  .latestPost .post .content {
    font-size: 13px;
  }
}
@media screen and (max-width: 1600px) {
  .contact .container {
    padding: 0px 10px;
  }

  .achievement .buiding {
    height: 242px;
  }

  .latestPost .post > button {
    padding: 3% 7%;
  }
}

@media screen and (max-width: 1368px) {
  .achievement .carousel-control-prev-icon,
  .achievement .carousel-control-next-icon {
    top: 25%;
  }
  .latestPost .post .content {
    text-align: start;
  }
  .expertTeam .cart {
    width: 16vw;
  }

  .expertTeam .avatar {
    height: 16vw;
  }
}

@media screen and (max-width: 1366px) {
  .latestPost .container .item {
    width: 475px;
  }

  .latestPost .post .content {
    margin-top: 0;
    max-height: 136px;
    overflow: hidden;
  }
  .latestPost .container {
    justify-content: space-between;
  }
  .latestPost .post button {
    margin-top: 0;
  }

  .latestPost .post > button {
    padding: 2% 8%;
  }

  .achievement .buiding {
    justify-content: space-between;
  }

  .achievement .buildItem {
    width: 24%;
  }

  .achievement .avatar {
    height: 200px;
    min-width: 200px;
    margin: 0px 15px;
  }

  .achievement .name {
    font-size: 20px;
  }

  .achievement .job {
    font-size: 16px;
  }

  .achievement .bigContainer {
    justify-content: space-around;
  }

  ul.navs a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1331px) {
  .latestPost .container .item {
    width: 45%;
  }
}

@media screen and (max-width: 1280px) {
  .latestPost .post .content {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 1100px) {
  .latestPost .container .item {
    width: 361px;
  }

  .leftSticky .social {
    padding: 0px 25px 20px;
  }
  .leftSticky i {
    width: 30px;
    /* height: 30px; */
  }

  .expertTeam .owl-nav {
    width: 115%;
    transform: translate(-6%, -50%);
  }

  .expertTeam .cart {
    width: 22vw;
  }

  .expertTeam .avatar {
    height: 22vw;
  }
}

@media screen and (max-width: 1024px) {
  .latestPost {
    height: auto !important;
  }

  .latestPost .container {
    height: auto;
  }
  .latestPost .sectionTitle {
    margin-bottom: 10px;
  }

  .latestPost .underline::after {
    bottom: 0;
    top: 100%;
  }

  .latestPost .container .item {
    margin: 10px 0px;
    width: 100%;
    height: 18vw;
  }
  .latestPost .img {
    min-width: 18vw;
    height: 18vw;
  }
  .latestPost .post .content {
    margin-bottom: 5px;
  }

  .achievement .container {
    flex-direction: column;
  }

  .achievement .description {
    text-align: center;
    margin: 0px 15px;
  }

  .achievement .job {
    display: block;
  }

  .achievement .job::after {
    content: " - ";
  }
}

@media screen and (max-width: 799px) {
  .expertTeam .owl-item {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .activity .slider .itemSlide:first-child .bannerContent {
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .left,
  .right {
    transition: 1s all;
  }

  .left {
    position: fixed;
    right: 100%;
    width: 60%;
  }

  .activeLeft {
    right: 40%;
  }
  .right {
    width: 100%;
  }

  #btnSidebar {
    display: block;
    position: fixed;
    border-radius: 50%;
    z-index: 10;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.46);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  #btnSidebar > i {
    font-size: 20px;
    color: white;
  }

  #btnSidebar:active {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.66);
  }

  .latestPost .container .item {
    height: 23vw;
  }

  .latestPost .img {
    min-width: 23vw;
    height: 23vw;
  }

  .expertTeam .cart {
    width: 30vw;
  }

  .expertTeam .avatar {
    height: 30vw;
  }
}

@media screen and (max-width: 500px) {
  .expertTeam .cart {
    width: 45vw;
  }

  .expertTeam .avatar {
    height: 45vw;
  }
  .expertTeam .bigDescription {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .first .bannerContent {
    min-width: 100% !important;
  }
  .activity .slider {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
  }
  .activity .sectionTitle {
    margin-bottom: 30px;
  }

  .activity .slider .itemSlide:first-child {
    grid-row: 1/2 span;
    grid-column: 1/2 span;
  }

  .activity .slider .itemSlide:first-child .bannerContent {
    min-width: unset;
    width: 100% !important;
    bottom: 0;
    left: 0;
  }
  .activity .bannerContent .sectionTitle {
    font-size: 25px !important;
    margin-bottom: 0px;
  }

  .activity .bannerContent .description {
    font-size: 13px !important;
  }

  .activity {
    padding: 0px 25px;
  }

  .sectionTitle {
    font-size: 30px;
  }

  .underline::after {
    width: 50%;
  }

  .achievement {
    padding: 0px 25px;
    height: unset !important;
  }

  .achievement .sectionTitle {
    margin-bottom: 30px;
  }
  .achievement .buiding {
    flex-wrap: wrap;
    height: unset;
    justify-content: center;
  }
  .achievement .buildItem {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  #carouselExampleControls {
    margin-top: 50px;
  }

  .achievement .container {
    /* height: 75vh; */
    height: 600px;
    justify-content: center;
  }

  .achievement .avatar {
    margin-bottom: 20px;
  }

  .carousel-control-prev {
    left: -10px;
  }

  .carousel-control-next {
    right: 10px;
  }

  .latestPost {
    padding: 50px 25px;
  }

  .latestPost .container .item {
    flex-direction: column;
    /* height: 500px; */
    height: auto;

    /* width: 400px; */
    min-width: 80vw;
    border: none;
    text-align: center;
    margin: 15px 0px;
  }

  .latestPost .img {
    min-width: 100%;
    /* height: 300px; */
    min-height: 80vw;
  }

  .latestPost .post button {
    margin-top: 15px;
  }

  .latestPost .post .content {
    text-align: center;
  }

  .expertTeam {
    padding: 0px 25px;
    height: 900px !important;
  }

  .expertTeam .cart {
    width: 50vw;
    transform: translate(-4px);
  }

  .expertTeam .avatar {
    height: 50vw;
  }

  .expertTeam .description {
    padding: 0px 1px;
  }

  .contact {
    padding: 25px;
  }

  .contact .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 200px;
  }
  .contact aside {
    width: 100%;
  }

  .contact i {
    min-height: 80px;
    min-width: 80px;
    font-size: 30px;
  }
  .news-express {
    margin: 0px !important;
  }

  footer > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .sectionTitle {
    font-size: 27px !important;
  }
}

@media screen and (max-height: 866px) {
  .first .bannerContent {
    width: 40%;
    min-width: 400px;
  }

  .activity .slider .itemSlide:first-child .bannerContent {
    width: 60%;
  }

  .activity .bannerContent .sectionTitle {
    font-size: 30px;
  }

  .expertTeam .description,
  .expertTeam .content {
    font-size: 14px;
  }
}
@media screen and (max-height: 766px) {
  ul.navs a {
    font-size: 16px;
  }
}
@media screen and (max-height: 683px) {
  .sectionTitle {
    font-size: 30px;
  }
  .first .bannerContent button {
    margin-top: 4%;
  }
  .activity button {
    margin-top: 1%;
  }
  .activity .bannerContent .description {
    font-size: 1rem;
  }
}

@media screen and (max-height: 673px) {
  .expertTeam .name {
    font-size: 20px;
  }

  .expertTeam .job {
    font-size: 16px;
  }
  .expertTeam .description,
  .expertTeam .content {
    font-size: 14px;
  }
}

@media screen and (max-height: 662px) {
  ul.navs > li {
    margin: 5px 0px;
  }

  ul.navs {
    margin-top: 0;
  }
}

.m_FadeRightToLeft {
  transition: 1s all;
  animation: fadeLR 1s ease-in 1 forwards;
}

@keyframes fadeLR {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.m_FadeLeftToRight {
  transition: 1s;
  animation: fadeRL 1s ease-in 1 forwards;
}

@keyframes fadeRL {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.m_FadeBotToTop {
  transition: 1s;
  animation: fadeBT 1s ease-in 1 forwards;
}

@keyframes fadeBT {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
