* {
  box-sizing: border-box;
  /* font-family: "SVN-Segoe UI"; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a,
button,
button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
}

body {
  overflow: hidden;
}

#btnSidebar {
  display: none;
}

.pc_title {
  font-size: 3rem;
  /* font-size: 35px; */
  position: relative;
  display: inline-block;
  padding: 10px 0px;
}
.pc_title::after {
  content: "";
  height: 100%;
  width: 60%;
  border-bottom: 3px solid #ffc300;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}
.pc_title.pc_nl_border::after {
  border-bottom: 3px solid #022646 !important;
}
.pc_title.pc_dttc_border::after {
  border-bottom: 3px solid #00d68a !important;
}
.pc_title.pc_gd_border::after {
  border-bottom: 3px solid #bc151c !important;
}

img {
  max-width: 100%;
}

.pc_nl {
  background: #022646 !important;
  color: white;
}

.pc_dttc {
  background: #00d68a !important;
  color: white;
}

.pc_gd {
  background: #bc151c !important;
  color: white;
}

.m_container {
  display: flex;
  width: 100%;
  /* LEFT CSS */
}
.left {
  /* width: 341px; */
  min-width: 18%;
  /* width: 18%; */
  background-color: #022646;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

.leftSticky {
  position: sticky;
  top: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.leftSticky .logo {
  width: 100%;
  padding-top: 100%;
  /* background-image: url("../img//img_bg_1.jpg"); */
  background-image: url("../img/logo-big.jpg");
  background-position: center;
  /* background-size: cover; */
  background-size: 167% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.leftSticky .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px 30px;
}
.leftSticky .social i {
  margin: 0px 2%;
  border-radius: 50%;
  color: #2c2c2c;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.leftSticky a:hover {
  text-decoration: none;
}

.leftSticky .social i:hover {
  color: white;
  background-color: #ffc300;
}
ul.navs ul,
ul.navs {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0;
  margin-top: 10% 50%;
}
ul.navs ul > li {
  margin: 2px 0px;
}

ul.navs > li {
  margin-bottom: 10px;
}

ul.navs a {
  color: inherit;
  font-size: 20px;
}

ul.navs i {
  font-size: 12px;
}

.activeUl {
  color: #ffc300 !important;
  text-decoration: none !important;
  border: none !important;
}

ul.navs > li a:hover,
ul.navs > li a:focus {
  color: #ffc300;
  text-decoration: none;
  border-bottom-color: #ffc300;
  border-bottom: 1px solid;
}

.childActive {
  color: white !important;
  border: none !important;
}

ul.navs li > ul a:hover,
ul.navs li > ul a:focus {
  color: white;
  border: none;
}

ul.navs .multi:focus-within a {
  border: none;
}
ul.show,
ul.navs .multi:focus-within ul {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #ffc300;
  border-bottom: 1px solid #ffc300;
}
.m_container section {
  min-height: 100vh;
  position: relative;
}
.m_container .right {
  color: #022646;
  width: 82%;
  /* min-height: 200vh; */
}
.m_container .right .pc_banner {
  background-image: url(../img/IES_Reus_14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.m_container .right .pc_banner.pc_nl_bg {
  background-image: url(../img/photo-1548613053-22087dd8edb8.jpg);
}
.m_container .right .pc_banner.pc_dttc_bg {
  background-image: url(../img/cc3a1ch-c491e1baa7u-tc6b0-che1bba9ng-khoc3a1n-phc3a1i-sinh-xmpc20180810160736.4357320.jpg);
}
.m_container .right .pc_banner.pc_gd_bg {
  background-image: url(../img/113158-free-fall-wallpaper-hd-1920x1080-download-free.jpg);
}
.m_container .right .pc_banner_content {
  max-width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffc300;
  padding: 38px;
}
.m_container .right .pc_banner_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #022646;
  height: 47px;
  border: none;
  width: 160px;
  background-color: #ffffff;
}
.m_container .right .pc_banner_content h3 {
  font-size: 2.5rem;
}
.m_container .right .pc_banner_content p {
  font-size: 1.1rem;
}
.m_container .right .pc_review .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.m_container .right .pc_review .row {
  padding: 40px;
}
.m_container .right .pc_review .row .pc_detail {
  display: inline-block;
  max-height: 54%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 0px;
  font-size: 1.1rem;
}
.m_container .right .pc_review .row.pc_right {
  text-align: right;
}
.m_container .right .pc_review .row.pc_right .pc_title::after {
  left: initial;
  right: 0px;
}
.m_container .right .pc_project_slider {
  padding: 40px;
}
.m_container .right .pc_project_slider .pc_slider {
  width: 100%;
  height: 75vh;
  margin: 30px 0px;
}
.m_container .right .pc_project_slider .pc_slider .pc_slider_item {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  height: 100%;
}
.m_container
  .right
  .pc_project_slider
  .pc_slider
  .pc_slider_item
  .pc_slider_img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.m_container
  .right
  .pc_project_slider
  .pc_slider
  .pc_slider_item
  .pc_slider_img
  .pc_slider_img_title {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 30%;
  min-height: 10%;
  background: #2c2c2c;
  color: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.m_container .pc_slider_img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.m_container .right .pc_project_slider .pc_slider .carousel-control-prev {
  background: #ffc300;
  height: 5%;
  width: 4%;
  border-radius: 5px;
  right: 6%;
  top: 10px;
  left: initial;
}
.m_container
  .right
  .pc_project_slider
  .pc_slider
  .carousel-control-prev
  .carousel-control-prev-icon {
  height: 50%;
}
.m_container .right .pc_project_slider .pc_slider .carousel-control-next {
  background: #ffc300;
  height: 5%;
  width: 4%;
  border-radius: 5px;
  right: 1%;
  top: 10px;
  left: initial;
}
.m_container
  .right
  .pc_project_slider
  .pc_slider
  .carousel-control-next
  .carousel-control-next-icon {
  height: 50%;
}
.m_container .carousel,
.m_container .carousel-inner,
.m_container .carousel-item {
  height: 100%;
}

.editHeight .fp-tableCell {
  height: 100% !important;
}

@media only screen and (max-width: 1368px) {
  .pc_title {
    font-size: 2rem;
  }

  .editTitle {
    margin-left: 30px;
    margin-top: 10px;
  }
  .m_container .right .pc_project_slider {
    padding: 20px 30px;
  }

  .m_container .right .pc_banner_content {
    padding: 20px;
  }
  .m_container .right .pc_banner_content p {
    font-size: 0.9rem;
  }
  .m_container .right .pc_banner_content h3 {
    font-size: 2rem;
  }
  .m_container .right .pc_banner_content a {
    height: 37px;
    width: 140px;
  }
  .m_container .right .pc_review .row .pc_detail {
    display: inline-block;
    max-height: 45%;
    overflow: hidden;
  }
}

/*# sourceMappingURL=pc_style.css.map */

footer {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21px;
  background-color: #022646;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer span {
  font-size: 20px;
  font-weight: bold;
  color: #ffc300;
}

footer a {
  color: white;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: none;
  color: #ffc300;
}

footer > div {
  display: flex !important;
  justify-content: space-between;
}

footer > div > div {
  display: flex;
}
/* 
.expertTeam {
  position: relative;
  padding: 0px 52px;
} */

/* .expertTeam > .sectionTitle {
  height: 15%;
  display: flex;
  align-items: center;
} */
/* .expertTeam > .container { */

.p {
  width: 96%;
  margin: 0 auto;
}
.p > .container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
  padding: 0px;
  margin: 0;
}

.p .carouselOwl {
  width: 94%;
  margin: 100px auto 30px;
}

.p .cart {
  /* height: 527px; */
  width: 15vw;
  text-align: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.16);
  padding-bottom: 2%;
  overflow: hidden;
  margin: 0 auto;
}

.p .cart div:nth-child(n + 1) {
  margin: 3.37% 0px;
  padding: 0px 1%;
}
.p .avatar {
  margin-top: 0 !important;
  height: 15vw;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.p .name {
  font-size: 25px;
}

.p .job {
  font-size: 18px;
  opacity: 0.4;
}
.p .job::after,
.p .job::before {
  content: " - ";
  font-size: 18px;
  opacity: 0.5;
}

.p .description,
.p .content {
  font-size: 18px;
}

.p .description::before {
  content: '"';
}

.p .description {
  overflow: hidden;
  padding: 0px 5% !important;
}

.p .owl-nav button > span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.p .owl-nav {
  margin-top: 0px;
  position: absolute;
  top: 45%;
  width: 109%;
  display: flex;
  justify-content: space-between;
  transform: translate(-4%, -50%);
  z-index: 999;
}
.p .owl-nav .owl-prev {
  /* position: absolute;
  left: -60px; */

  left: -5%;
}

.p .owl-nav .owl-next {
  /* position: absolute;
  right: -60px; */
}

.p .owl-nav button > span {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.2);
}

.p .owl-nav button:hover > span {
  color: rgba(0, 0, 0, 0.4);
}

.p .owl-nav .owl-next,
.p .owl-nav .owl-prev {
  background-color: initial !important;
}

.p .owl-stage-outer {
  padding: 10px 5px;
}

.pc_banner a:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
  text-decoration: none;
  background-color: #ffffffd6 !important;
}

.carouselOwl button {
  box-shadow: none;
}

@media screen and (max-width: 1368px) {
  .p .carouselOwl {
    width: 93%;
    margin: 30px auto 30px;
  }

  ul.navs a {
    font-size: 18px;
  }

  .p .cart {
    width: 18vw;
  }

  .p .avatar {
    height: 18vw;
  }
}

@media screen and (max-width: 1000px) {
  .p .cart {
    width: 25vw;
  }

  .p .avatar {
    height: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .m_container {
    overflow-x: hidden;
  }

  /* .m_container {
    background-color: #022646;
  } */
  .left,
  .right {
    transition: 1s all;
  }

  .left {
    position: fixed;
    right: 100%;
    width: 60%;
  }

  .activeLeft {
    right: 40%;
  }
  .m_container .right {
    width: 100%;
  }

  #btnSidebar {
    display: block;
    position: fixed;
    border-radius: 50%;
    z-index: 10;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.46);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  #btnSidebar > i {
    font-size: 20px;
    color: white;
  }

  #btnSidebar:active {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.66);
  }

  .p .cart {
    width: 35vw;
  }

  .p .avatar {
    height: 35vw;
  }

  .m_container .right .pc_review .row .pc_detail {
    max-height: unset;
  }

  .pc_title::after {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .p .cart {
    width: 50vw;
  }

  .p .avatar {
    height: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .m_container .right .pc_banner_content {
    max-width: unset;
  }
  .p .cart {
    width: 55vw;
  }
  .p .avatar {
    height: 55vw;
  }

  .m_container .right .pc_project_slider .pc_slider .pc_slider_item {
    grid-template-columns: auto auto;
  }
  .m_container .right .pc_project_slider {
    padding: 20px 25px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .m_container .right .pc_review .row {
    padding: 25px;
  }

  .p .cart {
    width: 60vw;
  }
  .p .avatar {
    height: 60vw;
  }

  .owl-item .active {
    margin-right: 30px !important;
  }

  footer > div {
    align-items: center;
  }

  footer > div > div {
    flex-direction: column;
  }
}

@media screen and (max-height: 766px) {
  ul.navs a {
    font-size: 16px;
  }
}

@media screen and (max-height: 662px) {
  ul.navs > li {
    margin: 5px 0px;
  }
}

.m_FadeRightToLeft {
  transition: 1s all;
  animation: fadeLR 1s ease-in 1 forwards;
}

@keyframes fadeLR {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.m_FadeLeftToRight {
  transition: 1s all;
  animation: fadeRL 1s ease-in 1 forwards;
}

@keyframes fadeRL {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
