* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: unset !important;
}

.m_container .left {
  min-width: 18%;
}
/* banner sliders */
.demo {
  opacity: 0.6;
}

.active {
  color: rgba(255, 195, 0, 1) !important;
  border-bottom: 1px solid;
  opacity: 1;
}

.demo:hover {
  opacity: 1;
}
.km_container {
  position: relative;
  overflow: hidden;
}
.km_mySlides {
  display: none;
  animation: truottrai 1s forwards;
}

@keyframes truottrai {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}
@keyframes truotphai {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}
.km_history {
  display: flex;
  padding: 30px 30px 40px 30px;
}
.history_detail {
  flex: 65%;
}
.history_detail .welcom {
  color: rgba(153, 153, 153, 1);
  margin-bottom: 10px;
}
.history_detail .title {
  font-size: 2rem;
  /* max-width: 45%; */
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 5px;
}

.history_detail .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35%;
  border-bottom: 5px solid rgba(255, 195, 0, 1);
}
.history_detail .description {
  line-height: 2;
  text-align: justify;
}
/* .history_detail .title span {
  border-bottom: 5px solid rgba(255, 195, 0, 1);
} */
.history_img {
  flex: 45%;
}
.history_img img {
  width: 90%;
  height: 65vh;
}
.cursor {
  cursor: pointer;
}
.cursor p {
  margin: 0;
  color: inherit;
}
.cursor p:hover {
  color: rgba(255, 195, 0, 1);
  border-bottom: 1px solid;
}
.km_numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.km_caption_container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.km_row {
  margin: 0 30px;
  overflow: hidden;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
  /* background: rgba(2, 38, 70, 1); */
}

.column {
  display: flex;
  float: left;
  width: 25%;
  background: rgba(2, 38, 70, 1);
  border: 1px solid rgba(112, 112, 112, 1);
  color: white;
  height: 12vh;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* position: relative; */

  transform: skewX(-28deg);
}

.column:first-child {
  justify-self: flex-end;
  padding: 0px 5%;
}

.column > div {
  transform: skewX(28deg);
  color: white;
}

/* .column::after {
  z-index: 10;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 58px solid;
  border-color: transparent black black transparent;
} */

.column:last-child::after {
  border-color: transparent white white transparent;
}

.km_footer {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(2, 38, 70, 1);
  width: 82%;
  padding: 10px 0;
}
.km_footer .km_fo_left > a {
  color: rgba(255, 195, 0, 1);
}
.d_inline_block {
  display: inline-block;
}
.fo_list > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
}
.fo_list > li a {
  text-decoration: none;
  color: white;
}
.km_fo_left {
  float: left;
  margin-left: 20px;
}
.km_fo_right {
  float: right;
  margin-right: 50px;
}
.km_fo_left > a {
  text-decoration: none;
  font-weight: 700;
}

.km_intro_slider {
  position: relative;
}
/* end footer */

@media screen and (max-width: 1920px) {
  /* .history_detail .title {
    max-width: 30%;
    min-width: 270px;
  } */
}

@media screen and (max-width: 1500px) {
  .history_img {
    flex: 50%;
  }

  .history_detail {
    flex: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .km_history {
    flex-direction: column;
  }
  .history_img img {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .km_history {
    flex-direction: column;
  }
  .history_img img {
    height: auto;
    width: 100%;
  }
  .column {
    width: 50%;
    transform: skewX(0);
    height: 100px;
  }
  .column > div {
    transform: skewX(0);
  }
  .km_row {
    flex-wrap: wrap;
    margin-bottom: 160px !important;
  }

  .column:first-child {
    text-align: center;
    padding: 0;
    justify-self: unset;
  }

  .column .editP > p {
    width: auto !important;
  }
}

@media screen and (max-height: 768px) {
  .km_history {
    padding-bottom: 30px;
  }

  .km_row {
    margin-bottom: 80px;
  }

  .column .editP > p {
    width: 170px;
  }
}
@media screen and (max-height: 700px) {
  body {
    overflow: auto !important;
  }
}

@media screen and (max-height: 425px) {
  .km_history {
    flex-direction: column;
  }
  .history_img img {
    height: auto;
    width: 100%;
  }
  .column {
    width: 50%;
    transform: skewX(0);
    height: 100px;
  }
  .column > div {
    transform: skewX(0);
  }
  .km_row {
    flex-wrap: wrap;
    margin-bottom: 160px !important;
  }

  .column:first-child {
    text-align: center;
    padding: 0;
    justify-self: unset;
  }

  .column .editP > p {
    width: auto !important;
  }
}
