* {
  box-sizing: border-box !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  /* overflow-x: hidden !important; */
}
.right {
  overflow: hidden !important;
}

.m_container {
  display: flex;
  width: 100%;
}

/* -----------end chi tiết dự án html ----------- */
.nm_project-detail {
  /* height: 100vh; */
  /* padding: 207px 81px 252px 43px; */
  padding: 0px 30px;
  align-items: center;
}

.nm_project-detail > div {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}
.project-name {
  width: 60%;
  /* min-width: 37%; */
  /* height: 621px; */
  text-align: right;
  background: white;
  padding-right: 40.28px;
  overflow: hidden;
  overflow-y: none;
}
.rightSS {
  height: 600px;
}
.slide-bar {
  height: 46%;
}
.slide-bar .carousel-inner {
  height: 100%;
}

.editHeight .carousel-item {
  height: 100%;
}

.editHeight .editSlide {
  height: 600px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-bar .img-item1 {
  background: url("../img/Heartland_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.slide-bar .img-item2 {
  background: url("../img/Greenland (2)_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.slide-bar .img-item3 {
  background: url("../img/Greenland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.name {
  /* width: 256px; */
  font-size: 44px;
  line-height: 58px;
  display: inline-block;
  position: relative;
}
.project-name .name::before {
  content: "";
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 5px solid #ffc300;
}
.text {
  line-height: 45px;
  font-size: 20px;
  overflow: auto;
  height: 540px;
  /* height: 85%; */
  padding-right: 10px;
  margin-bottom: 0;
  /* color: white; */
}

/* width */
.text::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.text::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.text::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay {
  height: 100vh;
  background: url("../img/12312.jpg");
  background-repeat: no-repeat;
  /* border-top: 1px solid #707070; */
  filter: blur(10px);
  /* padding: 207px 0 252px 0;  */
  position: relative;
  background-size: cover;
  background-position: center;
}
.nm_map-location .content {
  position: absolute;
  /* top: 207px; */
  top: 15%;
  left: 0;
  height: 70%;
  display: flex;
}

.nm_map-location .text {
  color: white;
  height: 85%;
}

.map {
  width: 53%;
  /* height: 621px; */
  height: 100%;
}
.map img {
  width: 100%;
  height: 100%;
}
.location {
  width: 47%;
  background: #2c2c2c;
  border: 1px solid #707070;
  z-index: 1;
  filter: 0 !important;
  color: white;
  padding-left: 52px;
  padding-top: 38px;
}
.location p:nth-child(1),
p:nth-child(1) i {
  font-size: 44px;
  line-height: 58px;
  color: #ffc300;
  letter-spacing: 8px;
  padding-right: 11.56px;
}
.nm_utility > div {
  height: 100vh;
  display: flex !important;
  justify-content: space-evenly !important;
  flex-direction: column !important;
  padding: 39px 52px;
}
.utility_text {
  font-size: 25px;
  max-width: 55%;
  margin-bottom: 15px;
}
.nm_utility .name::before,
.latestPost-detail .name::after {
  content: "";
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #ffc300;
}
.utility {
  overflow: hidden;
}
.utility .item {
  width: 33.3%;
  height: 50%;
  position: relative;
  float: left;
}
.utility .item:hover a .item_link {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  transition: 0.5;
}
.utility .item:hover a img {
  opacity: 0.5;
  transition: 0.5;
}
.item_link {
  position: absolute;
  bottom: 27.74px;
  right: 54.86px;
  font-size: 35px;
  color: white;
}
.utility .item img {
  width: 100%;
  height: 100%;
}

@media screen and (max-height: 661px) {
  .nm_project-detail {
    padding: 0px 50px;
    margin: 20px 0;
  }
  .nm_map-location {
    margin: 20px 0;
  }
  .nm_map-location .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  /* .nm_utility {
    padding: 10px 50px;
    margin: 20px 0;
  } */
  .utility_text {
    width: 425.72px;
    height: 85px;
    line-height: 36px;
    font-size: 25px;
    margin: 0 0 42px 0;
  }
  .utility .item {
    width: 33.3%;
    height: 200px;
    position: relative;
    float: left;
  }
}
/* -----------end chi tiết dự án html ----------- */

/* -----------begin bài viết html ----------- */

.nm_Posts {
  padding: 39px 52px 80px;
  position: relative;
}

.container {
  display: flex;
}

.col-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.col-right {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.col-left .item {
  width: 100%;
  /* height: 280px; */
  height: 15vw;
  border: 1px solid white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);
  display: flex;
  margin: 36px 0 25px;
}
.col-left .item .img {
  background-image: url("../img/img_bg_3.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width: 15vw !important;
  height: 15vw !important;
}
.post button {
  border: none;
  background: #ffc300;
  width: 120px;
  padding: 2% 1%;
  display: inline-block;
  margin-top: 1%;
}
.col-left .post {
  padding: 1% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.col-left .post .date {
  font-weight: 600;
  color: rgb(156, 154, 154);
  font-size: 25px;
}
.col-left .post .date .numberDay {
  font-weight: 600;
  font-size: 24px;
  color: rgb(92, 38, 24);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.col-left .post .title {
  font-size: 25px;
  margin: 1px 0px;
}

.col-left .post .content {
  color: rgb(156, 154, 154);
  font-size: 15px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nm_Posts .title--yellow {
  color: #ffc300;
  font-size: 34px;
  margin-bottom: 0;
}

.display-flex {
  display: flex;
  padding: 0;
  padding-bottom: 30px;
  justify-content: space-between;
}
.col-right {
  padding-left: 55.17px;
}
.news-express .news-item {
  min-width: 136.94px;
  background-image: url(../img/img_bg_3.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 92px;
}
.news-express {
  display: flex;
  padding: 30px 0;
  line-height: 26px;
  align-items: center;
}
.news-link {
  padding-left: 33px;
}
.news-link p {
  font-size: 20px;
}
.news-link a {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
.news-express:nth-child(2) {
  border-bottom: 1px solid black;
}
.news-express:nth-child(3) {
  border-bottom: 1px solid black;
}
.news-express:nth-child(4) {
  border-bottom: 1px solid black;
}
.key-word .key {
  font-weight: bold;
}
ul.pagination li {
  padding-right: 10px;
}
ul.pagination li a {
  border-radius: 3px;
  background: white !important;
  color: black;
}
ul.pagination li.active a,
ul.pagination li:hover a {
  border-radius: 3px;
  background: #ffc300 !important;
  color: white;
  border: 1px solid #ffc300 !important;
}
/* -----------end bài viết html ----------- */
.relav {
  position: relative !important;
}

@media screen and (max-width: 1600px) {
  .col-left .post .content {
    -webkit-line-clamp: 3;
  }

  .col-left .post .date,
  .col-left .post .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 1440px) {
  .col-left .post .content {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 1368px) {
  .name,
  .project-name .name {
    font-size: 35px;
  }

  .location {
    padding: 25px 0px 0px 30px;
  }
  .location p:nth-child(1),
  p:nth-child(1) i {
    font-size: 35px;
  }

  .nm_project-detail .text {
    height: 450px;
  }

  .nm_map-location .text {
    height: 82%;
  }

  .editHeight .editSlide {
    height: 500px;
  }

  .text {
    font-size: 15px;
  }

  .utility .item {
    height: 50%;
  }
  .utility_text {
    min-width: 70%;
    font-size: 20px;
  }

  .item_link {
    bottom: 15px;
    right: 30px;
    font-size: 30px;
  }

  .col-left .post {
    padding: 5px 20px 0px;
  }
  .col-left .post > div {
    margin-bottom: 0px;
  }

  .col-left .post .title {
    font-size: 18px;
  }
  .col-left .post .content {
    font-size: 14px;
  }

  .news-link a,
  .news-link p {
    font-size: 15px;
  }

  .col-left .post .date {
    font-size: 16px;
  }
  .news-express {
    padding: 25px 0px;
  }
  .news-link {
    padding-left: 20px;
  }
  .nm_Posts .title--yellow,
  .nm_Posts .name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .nm_Posts {
    padding: 25px;
    padding-bottom: 100px;
  }

  .display-flex {
    flex-direction: column;
  }
  .col-left {
    width: 100%;
  }
  .nm_Posts .title--yellow {
    width: 100%;
    margin: 30px 0px 10px;
  }

  .col-right {
    width: 100%;
    padding-left: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-express {
    width: 45%;
    margin: 10px;
  }

  .col-left .item {
    height: 25vw;
  }

  .col-left .item .img {
    min-width: 25vw !important;
    height: 25vw !important;
  }
  .news-express:nth-child(5) {
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 425px) {
  .sp.right > section {
    height: auto !important;
  }
  .nm_Posts {
    padding-bottom: 200px;
  }

  .col-left .post {
    padding: 3% 5%;
    align-items: center;
  }

  .col-left .item {
    /* height: 40vw; */

    flex-direction: column;
    height: auto;
    min-width: 80vw;
    border: none;
    text-align: center;
    margin: 15px 0px;
  }

  .col-left .item .img {
    min-width: 40vw !important;
    min-height: 85vw;
  }

  .post button {
    margin-top: 15px;
  }

  /* .col-left .post .title {
    color: rgb(156, 154, 154);
    font-size: 15px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } */

  .col-left .post .date {
    font-size: 16px;
  }

  .col-left .post .title {
    font-size: 15px;
  }

  .col-left .post .content {
    text-align: center;
  }

  .col-left .post .date .numberDay {
    font-size: 20px;
  }

  .news-express {
    width: 100%;
  }
  .nm_project-detail {
    height: auto !important;
    padding: 0px 25px;
  }

  .nm_project-detail > div {
    height: auto !important;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  .nm_project-detail .text {
    margin-bottom: 30px;
  }

  .project-name {
    width: 100%;
    padding: 0;
  }

  .editHeight .editSlide {
    width: 100%;
  }

  .nm_map-location .content {
    flex-wrap: wrap;
    position: relative;
    padding-top: 50px;
    transform: none;
  }

  .map {
    width: 100%;
    height: 350px;
  }

  .location {
    width: 100%;
  }

  .overlay {
    background-image: unset;
    height: auto !important;
  }

  .nm_map-location .text {
    height: 500px;
  }

  .nm_map-location > div {
    height: auto !important;
  }

  .nm_utility > div {
    padding: 0px 25px;
    height: 900px !important;
  }

  .utility_text {
    min-width: 100%;
  }

  .utility .item {
    width: 50%;
    height: 160px;
  }

  .item_link {
    bottom: 10px;
    right: 10px;
  }

  footer > div {
    align-items: center;
    flex-direction: row;
  }

  footer > div > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .item_link {
    font-size: 25px;
  }
}
