* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.right {
  /* overflow-x: hidden; */
}
section {
  min-height: 100vh;
}

.km_custom {
  padding: 0 !important;
}
.km_custom .map-contact {
  padding: 0px 20px;
  position: relative;
}
.km_custom .map-contact #map {
  max-width: 100%;
  height: 80vh;
}
.km_custom .page-contact {
  height: 100vh;
  display: flex;
  align-items: center;
}
.km_custom .page-contact .km_contact {
  width: 100%;
  background: url(../img/bg-lienhe.png) no-repeat center center;
  background-size: cover;
}
.km_custom .page-contact .km_contact .contact-main {
  padding-top: 50px;
}
.km_custom .page-contact .km_contact .title {
  /* font-size: 30px; */
  margin-top: 0px;
}
.km_custom .page-contact .km_contact .title span {
  border-bottom: 5px solid #ffc300;
}
.km_custom .page-contact .km_contact .wrapper {
  max-width: 24vw;
  margin-bottom: 30%;
}
.km_custom .page-contact .km_contact .icon {
  padding-right: 20px;
  margin-bottom: 30px;
}
.km_custom .page-contact .km_contact .icon .text-center {
  display: flex;
  align-items: center;
}
.km_custom .page-contact .km_contact .icon i {
  background: rgba(0, 0, 0, 0.03);
  color: #ffc300;
  padding: 20px;
  max-width: 56px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}
.km_custom .page-contact .km_contact .icon p {
  display: inline-block;
}
.km_custom .page-contact .km_contact .form-contact {
  padding-top: 20px !important;
}
.km_custom .page-contact .km_contact .form-contact .form-custom {
  margin-bottom: 25%;
  width: 90%;
}
.km_custom .page-contact .km_contact .form-contact .form-custom input,
.km_custom .page-contact .km_contact .form-contact .form-custom textarea {
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: #f7f7f7;
}
.km_custom
  .page-contact
  .km_contact
  .form-contact
  .form-custom
  input::placeholder,
.km_custom
  .page-contact
  .km_contact
  .form-contact
  .form-custom
  textarea::placeholder {
  color: #999999;
}
.km_custom .page-contact .km_contact .form-contact .form-custom .btn-custom {
  background: #ffc300;
  border: 1px solid #ffc300;
}

/*# sourceMappingURL=style-lienhe.css.map */

.contact > div {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.contact .container {
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .contact > div,
  .contact {
    height: auto !important;
  }
  .contact > div {
    justify-content: center !important;
    padding: 50px 0px;
  }

  .contact .container {
    flex-direction: column;
  }

  .contact aside {
    width: 100%;
  }

  .contact aside:first-child > div {
    margin-bottom: 15px;
  }

  .contact input,
  .contact textarea {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .contact > div {
    height: auto !important;
  }
  .contact .container {
    margin-bottom: 100px;
  }
  .km_custom .map-contact {
    padding-bottom: 100px;
  }
}
