$font-stack: "SVN-Segoe UI";
// $primary-color: #333;
$darkblue-color: #022646;
$gold-color: #ffc300;
$red-color: #bc151c;
$green-color: #00d68a;
$black-gold-color: #2c2c2c;
* {
  box-sizing: border-box;
  font-family: $font-stack;
}
.pc_title {
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding: 10px 0px;
  &::after {
    content: "";
    height: 100%;
    width: 60%;
    border-bottom: 3px solid $gold-color;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
  }
  &.pc_nl_border {
    &::after {
      border-bottom: 3px solid $darkblue-color !important;
    }
  }
  &.pc_dttc_border {
    &::after {
      border-bottom: 3px solid $green-color !important;
    }
  }
  &.pc_gd_border {
    &::after {
      border-bottom: 3px solid $red-color !important;
    }
  }
}
img {
  max-width: 100%;
}
.pc_nl {
  background: $darkblue-color !important;
  color: white;
}
.pc_dttc {
  background: $green-color !important;
  color: white;
}
.pc_gd {
  background: $red-color !important;
  color: white;
}
.m_container {
  display: flex;
  width: 100%;

  /* LEFT CSS */

  .left {
    /* width: 341px; */
    width: 18%;
    background-color: $darkblue-color;
    color: white;
    .leftSticky {
      position: sticky;
      top: 0;
    }
    .leftSticky .logo {
      width: 100%;
      padding-top: 100%;
      background-image: url("../img//img_bg_1.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
    ul.navs {
      list-style-type: none;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      padding: 0;
      margin-top: 80px;
    }

    ul.navs > li {
      margin: 10px 0px;
    }

    ul.navs a {
      color: inherit;
      font-size: 20px;
    }

    ul.navs > li > a:hover,
    ul.navs > li > a:focus {
      color: $gold-color;
      text-decoration: none;
      border-bottom-color: $gold-color;
      border-bottom: 1px solid;
    }
  }
  section {
    min-height: 100vh;
  }
  .right {
    color: $darkblue-color;
    width: 82%;
    min-height: 200vh;
    .pc_banner {
      &.pc_nl_bg {
        background-image: url(../img/solar-panel-cb2-hd_eu-jo5z3x__F0000.png);
      }
      &.pc_dttc_bg {
        background-image: url(../img/cc3a1ch-c491e1baa7u-tc6b0-che1bba9ng-khoc3a1n-phc3a1i-sinh-xmpc20180810160736.4357320.jpg);
      }
      &.pc_gd_bg {
        background-image: url(../img/113158-free-fall-wallpaper-hd-1920x1080-download-free.jpg);
      }
      background-image: url(../img/IES_Reus_14.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &_content {
        max-width: 30%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $gold-color;
        padding: 38px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $darkblue-color;
          height: 47px;
          border: none;
          width: 160px;
          background-color: #ffffff;
        }
        h3 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
    .pc_review {
      .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .row {
        padding: 40px;

        .pc_detail {
          display: inline-block;
          max-height: 54%;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 20px 0px;
          font-size: 1.1rem;
        }
        &.pc_right {
          text-align: right;
          .pc_title {
            &::after {
              left: initial;
              right: 0px;
            }
          }
        }
      }
    }
    .pc_project_slider {
      padding: 40px;
      .pc_slider {
        width: 100%;
        height: 75vh;
        margin: 30px 0px;
        .pc_slider_item {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 10px;
          height: 100%;
          .pc_slider_img {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
            .pc_slider_img_title {
              position: absolute;
              bottom: 0px;
              right: 0px;
              min-width: 30%;
              min-height: 10%;
              background: $black-gold-color;
              color: $gold-color;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
            }
          }
        }
        .carousel-control-prev {
          background: $gold-color;
          height: 5%;
          width: 4%;
          border-radius: 5px;
          right: 6%;
          top: 10px;
          left: initial;
          .carousel-control-prev-icon {
            height: 50%;
          }
        }
        .carousel-control-next {
          background: $gold-color;
          height: 5%;
          width: 4%;
          border-radius: 5px;
          right: 1%;
          top: 10px;
          left: initial;
          .carousel-control-next-icon {
            height: 50%;
          }
        }
      }
    }
  }
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
}
@media only screen and (max-width: 1366px) {
  .pc_title {
    font-size: 2rem;
  }
  .m_container {
    .right {
      .pc_banner {
        &_content {
          padding: 20px;
          p {
            font-size: 0.9rem;
          }

          h3 {
            font-size: 2rem;
          }
          a {
            height: 37px;
            width: 140px;
          }
        }
      }
      .pc_review {
        .row {
          .pc_detail {
            display: inline-block;
            max-height: 45%;
            overflow: hidden;
          }
        }
      }
    }
  }
}
